.assortment
	padding-bottom: 50px

	position: relative
	.custom-dots2
		position: absolute
		top: -54px
		right: 354px
		z-index: 10
		.slick-dots
			margin: 0
			padding: 0
			list-style: none
			li
				width: 241px
				padding: 30px 0

				margin-bottom: 20px

				position: relative

				background-color: rgb(91, 145, 206)
			li:nth-child(1), li:nth-child(3)
				background-color: rgb(194, 8, 26)
				button
					background-color: rgb(194, 8, 26)
			button
				width: 188px
				margin-left: 140px

				font-size: 21px
				line-height: 20px
				font-weight: 700
				color: white
				text-align: left
				
				border: none
				background-color: rgb(91, 145, 206)