@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width: 1450px) 
	.inner
		.page-content
			.parameters
				.custom-dots
					width: 486px

					top: 104px
					left: 0
					bottom: 0
					right: 0
					margin: auto
					.slick-dots
						display: flex
						li
							width: 137px
							margin-bottom: 0
							margin-right: 20px
						li:nth-child(1)
							display: none
						li:nth-child(2)::before
							top: 25px
							left: 26px
						li:nth-child(3)::before
							top: 32px
							left: 28px
						li:nth-child(4)::before
							top: 35px
							left: 26px
						li:nth-child(5)::before
							left: 30px
						button
							width: unset
							margin: 0

							font-size: 0
				&__inner
					max-width: 800px
				&__title
					width: unset
					margin-bottom: 132px

					text-align: center
					&::before
						right: 128px
				&__slide
					.anim-wrap
						display: none
				&__info
					display: none
				&__moile-title
					display: block

// ≥1200px
+media-breakpoint-down(lg)
	.overlay
		background: #000
		height: 100%
		opacity: 0.5
		position: fixed
		width: 100%
		z-index: 100
		top: 0
		left: 0
		display: none
	.inner
		.page-header
			&__nav-wrapper
				display: none
				max-width: 400px
				height: 100%

				position: fixed
				top: 0
				left: 0
				z-index: 200
				overflow: hidden

				background-color: $blue
			&__nav
				flex-direction: column
			&__item
				margin-bottom: 15px
			&__link
				font-size: 20px
			&__menu-wrapper
				display: block
			&__close-menu
				display: block
				margin-left: 340px
				margin-top: 20px


	.preview
		&__tape-big
			display: none !important
// ≥992px
+media-breakpoint-down(md)
	.inner
		.page-header
			&__enter
				display: none

@media (max-width: 940px) 
	.inner
		.page-content 
			.parameters
				&__inner
					max-width: 500px
				&__title
					&::before
						right: -20px

// ≥768px
+media-breakpoint-down(sm)
	.inner
		.page-header
			&__enter-tape
				justify-content: unset
			&__tape-list
				li:nth-child(2)
					display: none

		.preview
			&__tape-prof
				width: 200px
				height: 62px
			&__tapes-ad
				height: 46vh
			

// ≥576px
+media-breakpoint-down(xs)



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
